/* Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1;
}

html {
    scroll-behavior: smooth;
}

img {
    pointer-events: none;
}


body {
    font-family: 'Hind', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1em;
}

nav.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo>span.logo-text {
    padding-left: 10px;
}

.hero-section {
    text-align: center;
    background: #005C97;
    background: -webkit-linear-gradient(to bottom, #363795, #005C97);
    background: linear-gradient(to bottom, #363795, #005C97);
    padding: 10rem 0;
}

.hero-content .sub-heading {
    color: #fff;
    font-size: 5rem;
    margin-bottom: 10px;
}

.hero-content .subtitle {
    color: #fff;
    font-size: 2rem;
}

.hero-content .wave_hand>img {
    transform: rotateZ(15deg);
}

.hero-content .wave_hand {
    animation: hand-anim 3s infinite;
    transform-origin: 90% 90%;
    display: inline-block;
}

@keyframes hand-anim {
    0% {
        transform: rotate(0.0deg)
    }

    5% {
        transform: rotate(10.0deg)
    }

    10% {
        transform: rotate(-8.0deg)
    }

    15% {
        transform: rotate(10.0deg)
    }

    20% {
        transform: rotate(-4.0deg)
    }

    25% {
        transform: rotate(10.0deg)
    }

    30% {
        transform: rotate(0.0deg)
    }

    100% {
        transform: rotate(0.0deg)
    }
}


section.links-section {
    z-index: +5;
    display: flex;
    padding: 15px 0;
    background-color: #333;
    transition: 0.3s all;
}

ul.site-links {
    list-style-type: none;
}

ul.site-links>li {
    position: relative;
    display: inline-block;
    padding: 0 25px;
    transition: 0.3s all;
}

ul.site-links>li>a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.3px;
    transition: 0.3s all;
}

ul.site-links>li>a:hover {
    opacity: 0.7;
}

ul.site-links>li>a::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: rgb(255 255 255 / 50%);
    top: 50%;
    bottom: 50%;
    margin-top: -4px;
    border-radius: 50%;
    right: -4px;
}

ul.site-links>li:last-child>a::after {
    content: none;
}


.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
}

section.links-section.sticky-nav {
    padding: 10px 0;
}

section.links-section.sticky-nav ul.site-links>li {
    padding: 0 35px;
}

section.links-section.sticky-nav ul.site-links>li>a {
    font-size: 20px;
}

.sticky-nav+#about-section {
    padding-top: 8em;
}

h2.section-heading {
    position: relative;
    text-align: center;
    font-size: 40px;
    margin-bottom: 2em;
}

h2.section-heading:after {
    content: "";
    position: absolute;
    width: 250px;
    height: 3px;
    background: #555;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

p.section-subtitle {
    text-align: center;
    font-size: 20px;
    line-height: 2;
    font-weight: 500;
    margin-bottom: 1em;
}

section#projects-section,
section#about-section,
section#resume-section,
section#contact-section {
    padding: 5em 0;
}

section#projects-section,
section#contact-section {
    background-color: #ededed;
}

.project-div-container {
    display: flex;
    overflow-x: scroll;
}

.project-link {
    text-decoration: none;
    color: #333;
    transition: 0.3s all;
}

.project-link:hover {
    opacity: .7;
}

.project-type {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.project-div {
    width: 250px;
    min-height: 410px;
    padding: 10px;
    margin: 0.5em 1em;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #eee;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 30%);
}

.project-div>img {
    width: 100%;
    margin-bottom: 10px;
}


.work-history-inner {
    background-color: #ededed;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 30%);
    margin: 2em 0;
    padding: 1em;
    border-radius: 10px;
}

.company-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.company-name {
    font-size: 30px;
    border-bottom: 1px dotted #333;
}



footer {
    background: #333;
    padding: 2em 0;
}

.footer-social-links {
    display: flex;
    justify-content: center;
}

.social-links>li {
    display: inline-block;
    padding: 0 1em;
}

.social-links>li>a {
    display: inline-block;
    transition: 0.3s all;
}

.social-links>li>a:hover {
    opacity: .7;
}

.social-links>li>a>img {
    width: 40px;
}

.copyright-section {
    color: #fff;
    text-align: center;
    margin-top: 1em;
}

.php_form_overlap {
    position: relative;
    z-index: +99999;
    min-height: 50px;
    margin-top: -40px;
    background: #ededed;
}


/*Mobile Design Fixes*/

@media (max-width: 450px) {
    section#site_navbar>.container {
        padding: 0 0.5em;
    }

    section#projects-section,
    section#about-section,
    section#resume-section,
    section#contact-section {
        padding: 3em 0;
    }

    h2.section-heading {
        font-size: 30px;
    }
    p.section-subtitle {
        line-height: normal;
    }
    .hero-content .sub-heading {
        font-size: 4rem;
    }

    .hero-content .wave_hand>img {
        width: 40px;
    }

    ul.site-links>li {
        padding: 0 10px;
    }

    ul.site-links>li>a {
        font-size: 16px;
    }

    section.links-section.sticky-nav {
        padding: 10px 0;
    }

    section.links-section.sticky-nav ul.site-links>li {
        padding: 0 14px;
    }

    section.links-section.sticky-nav ul.site-links>li>a {
        font-size: 16px;
    }
}



